hr {
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width: 3%;
}

body{
  color: white;
  font-family:sans-serif;
  background-color: #2C3333;
}

h1, h2, h3 {
  color: #395B64;
}

a{
  color: #E7F6F2;
  font-weight: bold;
  text-decoration: none;
}:visited{
  color: #A5C9CA;
  font-weight: bold;
  text-decoration: none;
}
